extend layout.pug

block main
    main.chat-app
        h1 Chat
        script(src='/socket.io/socket.io.js')
        script
            include /js/socket.js
        #login.login
          form#userForm
            .username
              label Enter Username
              |
              input#username.form-control
              |
              br
              |
              input.btn.btn-default(type='submit', value='Join')
        #chat.chat
          .online-users
            #onlineHeader
              h3 Online Users
              span#onlineCount.online-count
            |
            ul#users.list-group
            |
            <a class="link leave" href="chat">&lt; Leave</a>
          |
          ul#messages.messages
          |
          form#messageForm(action='')
            input#m(autocomplete='off')
            button Send
